.green {
	background: green;
	color: white;
}

.yellow {
	background: yellow;
	color: black;
}

.red {
	background: red;
	color: white;
}

table {
	border-radius: 5px;
}

.title {
	border: none;
}

.info {
	background: white;
	width: 60%;
	margin: auto;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	font-size: 14pt;
}

.struct {
	text-align: left;
}