.green {
	background: green;
	color: white;
}

.yellow {
	background: yellow;
	color: black;
}

.red {
	background: red;
	color: white;
}

table {
	border-radius: 5px;
}

.title {
	border: none;
}

.name {
	background: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
}